@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">The message as deleated in the queue</h1>
    <a href="/recall/list">Back to list</a>
</div>
