@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"><br /><br />
    <h1 class="display-4">Welcome to the Recall Registration System</h1>
    <p>to register, just click on the link <a href="/recall">register in the queue</a>.</p>
</div>
